@using GradMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "เริ่มใช้งาน";
}

        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2 class="form-signin-heading">ลงชื่อเพื่อใช้งาน</h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder="ชื่อผู้ใช้"})
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder="รหัสผ่าน" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
             
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <input type="submit" value="เข้าใช้ระบบ" class="btn btn-lg btn-primary btn-block" />
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}